/*Fuente Be-Vietnam Pro*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/*Aplicando selector universal*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --color-primario: #F3603B;
    --color-secundario: #232C50;
    --color-párrafos: #B3B2B7;
    --color-hover: #ff643e;
    --color-seccion-comentarios: #fafafa;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

p{
    line-height: 24px;
    color:var(--color-párrafos)
}

/* Small devices (landscape phones, 576px and up) */

/*Aplicando estilos al Header*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.menu-hamburguesa i {
    font-size: 24px;
    padding: 4px;
}

.navbar {
    display: none;
    justify-content: space-between;
    gap: 32px;
}

nav ul li {
    list-style: none;
}

.btn-nav {
    display: none;
}

nav ul li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secundario);
}


/* Aplicando estilos a la sección Hero*/

.hero {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.lead-hero {
    order: 1;
}

.lead-hero h1 {
    padding-bottom: 32px;
}

.hero h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--color-secundario);
}

.hero p {
    font-size: 16px;
    color: #020202;
    padding-bottom: 32px;
}

.btn-primario {
    background-color: var(--color-primario);
    color: #fff;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.hero img {
    width: 80%;
}

/* Aplicando estilos a la sección de Servicios */

.servicios {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    row-gap: 20px;
}

.propuesta h3 {
    color: var(--color-secundario);
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
    /*flex: 50%*/
}

.propuesta p {
    color: #020202;
}

.servicios .detalle-servicios {
    text-align: left;
}

.servicios div {
    padding-bottom: 32px;
}

.detalle-servicios span {
    background-color: var(--color-primario);
    padding: 8px 16px;
    border-radius: 16px;
    color: #fff;
    font-size: 14px;
    margin-right: 12px;
}

.servicios h5 {
    font-size: 15px;
    font-weight: 700;
    padding: 8px 0px;
    border-radius: 16px 4px 4px 16px;
    color: var(--color-secundario);
    background-color: #FEEBD7;
    margin-bottom: 16px;
}


/*Aplicando estilos a sección de comentarios*/

.comentarios {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comentarios h3 {
    font-size: 24px;
    text-align: center;
    color: var(--color-secundario);
    margin-bottom: 12px;
}

.comentario {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 20px;
    background-color: #FAFAFA;
    transition: 0.3s;
    padding: 24px;
    margin-top: 86px;
}

.comentario img {
    width: 100px;
    height: 100px;
    margin-top: -80px;
}

.btn-comentarios {
    margin: 30px;
}


/*Aplicando estilos a la sección Lead*/

.lead {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primario);
    padding: 40px 20px;
    row-gap: 40px;
    margin: 0px 0px;
}

.lead h3 {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.btn-secundario {
    color: var(--color-primario);
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
    border-style: none;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Aplicando estilos al footer*/

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E26;
    row-gap: 40px;
    padding: 40px 0;
}

.footer-principal {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    gap: 40px;

}

.input-email {
    padding: 12px;
    border-radius: 50px;
    border-style: none;
    margin-right: 10px;
}

.btn-form-email {
    box-shadow: none;
    width: 80px;
}

.enlaces {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 80px;
}

.enlaces ul {
    list-style-type: none;
}

.enlaces ul li a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    line-height: 28px;
}

.footer-social-media {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    gap: 40px;
}

footer .redes-sociales {
    display: flex;
    gap: 12px;
    list-style-type: none;
}

.redes-sociales li a {
    color: #fff;
    font-size: 20px;
    padding: 4px;
}

.formulario .texto {
    padding: 12px 16px;
    border-radius: 50px;
    border-style: none;
    margin-right: 12px;
}

footer p {
    color: #fff;
    padding-bottom: 0;
    font-size: 12px;
    font-weight: 400;
}


/*Estados */

.btn-primario:hover {
    border-style: none;
    background-color: #ffb580;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/****************************************************************/
/******* Ajustando estilos para la media query (Desktop) *******/

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

/* General */

    .btn-primario {
        box-shadow: 0 4px 4px px #ff643e;
        transition: all 0.5s ease 0s;
    }

    .btn-secundario:hover{
        color: var(--color-secundario);
        transition: all 0.5s ease 0s;
    }




/* Dando estilo Menu Principal */

    header {
        padding: 40px 140px;
        margin-bottom: 40px;
    }

    .navegacion {
        margin: 40px 12% 66px 12%;
    }

    .navbar {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        gap: 40px;
        padding-right: 80px;
    }

    .menu-hamburguesa {
        display: none;
    }

    .btn-nav {
        display: inline;
        transition: all 0.5s ease 0s;
    }

/* Dando estilo al Hero */

    .hero {
        flex-flow: row;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    .lead-hero {
        text-align: left;
        max-width: 50%;
        order: 0;
    }

    .hero-figure {
        max-width: 50%;
    }

    .hero-figure img {
        width: 100%;
    }

    .hero p {
        font-size: 16px;
        padding-left: 0%;
        padding-right: 16px;
        max-width: 60%;
        line-height: 24px;
    }

    .hero h1 {
        font-size: 58px;
    }

/*Dando estilo a la sección de Servicios */

    .servicios {
        flex-flow: row;
        align-items: start;
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
        padding: 0;
        margin-bottom: 60px;
    }

    .servicios .propuesta p {
        line-height: 25px;
        margin-top: 30px;
        max-width: 80%;
    }

    .servicios .propuesta h3 {
        font-size: 40px;
        text-align: left;
    }

    .servicios .propuesta {
        margin-right: 80px;
    }

    .detalle-servicios .title {
        background-color: transparent;
    }

    .detalle-servicios span {
        padding: 12px 24px;
        margin-right: 18px;
        border-radius: 24px;
    }

    .detalle-servicios p {
        color: grey;
        line-height: 25px;
        max-width: 75%;
        margin-left: 88px;
    }

/* Dando estilo a la sección de Comentarios */

    .comentarios {
        text-align: center;
    }

    .comentarios h3 {
        font-size: 40px;
        margin-bottom: 90px;
    }

    .comentarios-usuarios {
        display: flex;
        background-color: var(--color-seccion-comentarios);
        margin-left: 4%;
        margin-right: 4%;
    }

    .comentarios-usuarios .comentario {
        margin-top: -55px;
        background-color: transparent;
        box-shadow: none;
        transition: none;
        padding: 80px 0 36px 0;
    }

    .comentario img {
        width: 100px;
        height: 100px;
    }

    .comentario h5 {
        font-size: 16px;
        color: var(--color-secundario);
        margin-bottom: 10px;
    }

    .comentario p {
        line-height: 24px;
        color: #B3B2B7;
        max-width: 70%;
    }

    .comentarios .btn-primario {
        margin-top: 40px;
        margin-bottom: 100px;
    }

/* Dando estilo a la sección de Lead */

    .lead {
        padding: 60px 20px 40px 20px;
        height: 260px;
        justify-content: space-around;
    }

    .lead h3 {
        font-size: 40px;
        color: white;
        max-width: 36%;
        text-align: left;
    }

/* Dando estilo al Footer */
    footer {
        align-items: stretch;
        padding: 68px 15%;
    }

    .footer-principal {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 0px;
    }

    .footer-social-media {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer .redes-sociales {
        gap: 12px;
        list-style-type: none;
    }

    .enlaces {
        column-gap: 0;
        width: 30%;
    }

    .redes-sociales li a {
        color: #fff;
        font-size: 20px;
        padding: 4px;
    }

    .footer-social-media .logo {
        padding-left: 12px;
    }

    .copy-right {
        display: flex;
        justify-content: end;
    }
}